/* add home page styles here */

body {
    background-color:rgb(245, 202, 202);
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
}

#libs-paragraph {
    height: 30vh;
    width: 50%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lobster Two', cursive;
}

#input-container {
    height: 30vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.libs-container {
    display: flex;
    margin-top: 5vh;
}

#libs-paragraph span {
    font-weight:bolder;
}

#input-container button {
    width: 100%;
}